body {
    padding: 0%;
    margin: 0%;
}
.topnav1 {
    background-color: #111822;
}
.tex {
    float: right;
}
.pad {
    padding-right: 280px;
}
.pad2{
    padding-left: 30px;
}
.padp3 {
    padding-top: 180px;
}
.padme {
    padding-right: 25px;
}
.padlogo{
    padding-left: 50px;
}
body{
    background-color: #111822;
}
.hello{
    font-size: 150px;
    color: black;
}
.contact {
    background-color: #F3F3F3;
}
.contacname{
    color: black;
    float: left;
    font-size: 35px;
    padding-left: 10px;
}
.contactus h1{
    margin-right: 40px;
}
.boarder{
    width: 300px;
    float: left;
    padding-bottom: 30px;
}
.boarder h1{
    padding: 5px;
    width: 250px;
    height: 60px;
    background-color: rgb(255, 196, 0);
}
.boarder p{
    margin-left: 50px;
    width: 250px;
    font-size: 20px;
}
.col-md-6{
    margin: 0%;
    padding: 0%;
}
.col-md-4{
    margin: 0%;
    padding: 0%;
}
#portfolio-body{
    margin-top: 50px;
    margin-left: 20px;
}
.p1 {
    font-weight: bold;
}
.p2{
    font-size: 30px;
}
.p3 {
    font-size: 25px;
}
.p4 {
    font-size: 20px;
}
.tab {
    tab-size: 2;
}
a { 
    text-decoration: none; 
}
.footer{
    background-color: #111822;
    text-align: center;
    color: white;
}
.pad5{
    padding-top: 120px;
}
.pad5 p {
    color: rgb(165, 165, 165);
}
.everythinggoeson{
    margin: 0%;
    padding: 0px 0px 0px 20px;
    background-color: white;
}